.gap-24 {
  gap: 24px;
}

.shadow_box * {
  z-index: 2;
  position: relative;
}

.shadow_box {
  position: relative;
  border-radius: 30px;
  background: #0F0F0F;
}
.shadow_box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  border-radius: 30px;
  opacity: 0.25;
}
.shadow_box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.01));
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.01));
  content: "";
  z-index: -1;
  border-radius: 30px;
  margin: -1px;
}

.section_heading {
  color: var(--white-color);
  font-size: 62px;
  font-weight: 600;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  margin-bottom: 40px;
}

.project_area {
  padding-top: 80px;
}
.project_area .project_item_main {
  display: flex;
  align-items: start;
  gap: 24px;
}
.project_area .project_item {
  padding: 20px;
  margin-bottom: 24px;
}
.project_area .project_item .overlay_link {
  left: 0;
  top: 0;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 3;
}
.project_area .project_item .bg_img {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.project_area .project_item .project_img {
  border-radius: 30px;
  margin-bottom: 15px;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.project_area .project_item .project_img img {
  width: 100%;
  display: block;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.project_area .project_item .project_img_2 {
  height: 360px;
}
.project_area .project_item .project_img_2 img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.project_area .project_item .project_info p {
  color: var(--text-color);
  opacity: 0.5;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.project_area .project_item .project_info h1 {
  font-size: 20px;
  color: var(--white-color);
  opacity: 0.9;
  font-weight: 500;
  margin: 0;
}
.project_area .project_item .project_btn {
  display: block;
  opacity: 0.2;
  transition: 0.3s;
}
.project_area .project_item:hover .project_btn {
  opacity: 1;
}

@media (max-width: 1090px) {
  .project_area .project_item .project_img_2 {
    height: 320px;
  }
  .section_heading {
    font-size: 52px;
    justify-content: center;
  }
  .section_heading img {
    width: 25px;
  }
}
@media (max-width: 991px) {
  .project_area .row .col-md-6 .gap-24 {
    flex-direction: column;
    gap: 0px;
  }
  .project_area .project_item {
    width: 100%;
  }
  .project_area .project_item .project_img_2 {
    height: auto;
  }
}
@media (max-width: 920px) {
  .section_heading {
    font-size: 34px;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media (max-width: 810px) {
  .project_area .project_item {
    padding: 15px;
  }
}
@media (max-width: 585px) {
  .project_area .container > .section_heading {
    display: flex;
    margin-bottom: 40px;
  }
  .project_area .col-sm-6 .section_heading {
    display: none;
  }
  .project_area .project_item {
    width: 100%;
  }
  .project_area .container > .section_heading {
    font-size: 26px;
  }
}
@media (max-width: 360px) {
  .project_area .container > .section_heading {
    font-size: 22px;
  }
}/*# sourceMappingURL=Works.css.map */